:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}


header.navbar-container {
 width: 1200px;
 margin: 0 auto;
 margin-inline: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
 
 padding-block: 1rem;
 z-index: 999;
}
 
header.navbar-container .logo img {
 width: 150px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondaryBackgroundColor);
  padding: .5rem 1.5rem;
  border-radius: 50px;
  transition: all .2s ease-in-out;
}
 
header.navbar-container .nav-list li:hover a {
  background-color: var(--primaryIconColorHover);
  color: white;
}

article {
  padding: 100px 60px;
}
article h1 {
  font-size: 150px;
  color: #fff;
}

.btn {
  font-size: 16px;
  margin-left: 10px;
  background: var(--primaryIconColor);
  color: #fff;
  padding: 20px 40px;
  border-radius: 60px;
  transition: all .2s ease-in-out;
  border: none;
}

.btn:hover {
  background: var(--primaryIconColorHover);
}

#destinasi {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.pre-tittle{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.grid-2 {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.destinasion {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.destinasion h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.destinasion img {
  width: fit-content;
}